<html>
    <head>
        <meta charset="utf-8">
        <title>{%block title %}Edit page{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <h1>The Ugly Edit Page</h1>

        <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_edit">editting:</label>
                    <input placeholder="{{current_task.task}}" type="text" class= "form-control" id = "id_edit" name='edit'>
                </div>
            <input type="submit">
        </form>
    </body>
</html>