
<html>
    <head>
        <meta charset="utf-8">
        <title>{%block title %}To do list{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <h1>Eric's to do List</h1>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_task">Task</label>
                <input type="text" class= "form-control" id = "id_task" name='task'>
            </div>
            <div>{% for stuff in items %}
                {{stuff.item}}
                <a href="/edit/{{stuff.pk}}" class="btn btn-primary ml-2">edit</a>
                <a href="/remove/{{stuff.pk}}" class="btn btn-primary ml-2">delete</a>
            <br>
            {% endfor %}
            </div>
        </form>
        {% block content %}
        {% endblock %}
            
        
        
        
    </body>
</html>